  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
      margin: 0;
      padding: 10px;
      border: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  }

  p {
      font-weight: 500;
  }

  .top-numbers {
      display: flex;
      flex-direction: row;
      gap: 50px;
  }

  .top-numbers p {
      font-size: 20px;
      height: 10px;
      width: 10px;
  }

  #gp-text {
      width: 30px;
  }

  .left-numbers {
      display: flex;
      flex-direction: column;
      gap: 50px;
  }

  .left-numbers p {
      font-size: 20px;
      height: 10px;
      width: 10px;
  }

  #down-arrow {
      margin-bottom: 10px;
  }

  #right-arrow {
      margin-left: -10px;
  }

  /* elements */

  .red-element-col-1 {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      top: 15%;
      left: 7%;
  }

  .red-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 63px;
      width: 63px;
      background-color: #FF9A9A;
      border: 2px solid black;
  }

  .red-element p {
      font-size: 20px;
      padding: 1px;
  }

  .red-element-col-2 {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      top: 22.5%;
      left: 11%;
  }

  .Bad {
      background-color: #0B5931;
      color: white;
  }

  .blue-element-col-1 {
      display: flex;
      flex-direction: row;
      gap: 5px;
      position: absolute;
      top: 37.1%;
      left: 15.5%;
  }

  .blue-element-col-2 {
      display: flex;
      flex-direction: row;
      gap: 5px;
      position: absolute;
      top: 44.5%;
      left: 15.5%;
  }

  .blue-element-col-3 {
      display: flex;
      flex-direction: row;
      gap: 5px;
      position: absolute;
      top: 51.9%;
      left: 15.5%;
  }

  .blue-element-col-4 {
      display: flex;
      flex-direction: row;
      gap: 5px;
      position: absolute;
      top: 59.3%;
      left: 15.5%;
  }

  .blue-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 63px;
      width: 63px;
      background-color: #9ACDFF;
      border: 2px solid black;
  }

  .blue-element p {
      font-size: 20px;
      padding: 1px;
  }

  /* Yello Elements */

  .yellow-element-col-1 {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      top: 22.7%;
      left: 51.6%;
  }

  .yellow-element-col-2 {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      top: 22.7%;
      left: 55.3%;
  }

  .yellow-element-col-3 {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      top: 22.7%;
      left: 59%;
  }

  .yellow-element-col-4 {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      top: 22.7%;
      left: 62.7%;
  }

  .yellow-element-col-5 {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      top: 22.7%;
      left: 66.3%;
  }

  .yellow-element-col-6 {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      top: 15%;
      left: 70%;
  }

  .yellow-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 63px;
      width: 63px;
      background-color: #FDFF8D;
      border: 2px solid black;
  }

  .yellow-element p {
      font-size: 20px;
      padding: 1px;
  }